.productList {
    &.productList--col-2 {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: flex-start;
        .product__item {
            width: calc(50% - 12px);
            margin: 0 16px 24px 0;
            overflow: hidden;
            box-sizing: border-box;
            background: #fff;
            border-radius: 1rem;
            overflow: hidden;
            &:nth-child(2n) {
                margin: 0 0 24px 0;
            }
        }
    }
    img {
        max-width: 100%;
    }
    .block--photo-author {
        bottom: .5rem;
        right: .5rem;
        font-size: .75rem;
    }
}