@import "resetDefault";
@import "font";

* {
	box-sizing: border-box;
}

body {
	line-height: 1;
	background: $main-bc;
	color: $main-c;
}

.page-wrapper {
	padding: 0 4rem;
}

img {
	max-width: 100%;
	display: block;
}

@media (max-width: 768px) {
	.page-wrapper {
		padding: 0 2rem;
	}
}

@media (max-width: 576px) {
	.page-wrapper {
		padding: 0 1rem;
	}

	.breadcrumb-wrapper {
		margin-bottom: 2rem;
		border-top: 1px solid rgba(255, 255, 255, 0.4);
		padding-top: 2rem;
	}
}
