.home-illustration {
	min-width: 20rem;
	font-size: 20rem;
}

.homepage-wrapper {
	background: no-repeat right/50% url("/images/batman-bcg.webp");
	height: calc(100vh - 9.75rem);
}

.home-info {
	flex-basis: 50%;

	> p {
		max-width: 30rem;
	}
}
