@import './homepage';

body {
    background: #36D1DC;
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
    background: linear-gradient(to right, #5B86E5, #36D1DC);
    position: relative;
    box-sizing: border-box;
    > div {
        margin: 2rem;
        position: relative;
        border-radius: 1rem;
        overflow: hidden;
        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            inset: 0;
            background: rgba(255, 255, 255, .2);
            filter: blur(1px);
            z-index: -1;
        }
    }
}
