.product-wrapper {
	.product-wrapper-summary-img {
		padding-right: 2rem;
	}

	.product-wrapper-summary-info-headline {
		text-transform: uppercase;
		margin-bottom: 2rem;
	}

	.product-wrapper-summary-info-price {
		margin: 2rem 0;
		font-size: 1rem;
		opacity: 1;
	}

	.product-wrapper-summary-info-btn {
		margin: 0;
	}
}
