$alignments: (
	between: space-between,
	end: flex-end,
	start: flex-start,
	center: center,
	around: space-around,
	evenly: space-evenly,
);

.d-flex {
	display: flex;
}

@each $key, $value in $alignments {
	.justify-content-#{$key} {
		justify-content: $value;
	}
	.align-items-#{$key} {
		align-items: $value;
	}
}

@mixin flex-block {
	display: flex;
	flex-wrap: wrap;
}
