@import "../../scss/layout/layout";

.page.product {
	margin-top: 2rem;
	padding: 1rem 0;

	@include flex-block;

	.block--img {
		flex: 1 1 40%;
	}

	.block--info {
		flex: 1 1 60%;
		padding-left: 2rem;
	}

	h2,
	p {
		color: #fff;
	}

	h2 {
		text-transform: uppercase;
	}
}

.btn--light {
	background: #fff;
}
