.ant-layout {
	min-height: 100vh;
}

.container {
	max-width: 1440px;
	padding: 0 2rem;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.ant-layout-header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 0;

	.ant-menu {
		flex: 1;
		justify-content: flex-end;
	}
}

.products-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	padding: 2rem 0;
}

.cart-container {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
	padding: 2rem 0;

	.ant-table-wrapper {
		flex: 1;
	}

	.cart-summary-wrapper {
		width: 20rem;
	}
}
