@import "./reset";
@import "./theme";
@import "./text";
@import "./containers";
@import "./table";

@import "./components/product-card";
@import "./components/product";

.intro-section {
	display: grid;
	gap: 1rem;
	min-height: 70vh;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 4rem 0;

	.intro-section-element {
		height: 100%;
		background-color: $gray-light-1;
		border: 1px solid $gray-light-1;
		border-radius: 0.5rem;
		padding: 2rem;

		&:not(.intro-section-element-welcome) {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			gap: 1rem;
			text-transform: capitalize;
		}
	}

	.intro-section-element-welcome {
		grid-row-start: 1;
		grid-row-end: 3;
	}
}
