@import "./reset";
@import "./theme";
@import "./text";
@import "./containers";
@import "./table";

@import "./components/popular-products";
@import "./components/product-card";
@import "./components/product";

.intro-section {
	display: grid;
	gap: 1rem;
	min-height: 50vh;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 2rem 0;

	.category-card {
		height: 100%;
		background-color: $gray-light-1;
		border: 1px solid $gray-light-1;
		border-radius: 0.5rem;
		display: flex;
		justify-content: flex-end;
		padding: 2rem;
		flex-direction: column;
		gap: 1rem;
		text-transform: capitalize;

		span:nth-of-type(1) {
			font-size: 1.5rem;
		}

		span:nth-of-type(2) {
			text-transform: uppercase;
		}

		&:nth-of-type(1) {
			grid-row-start: 1;
			grid-row-end: 3;
		}

		&:nth-of-type(2) {
			grid-column-start: 2;
			grid-column-end: 4;
		}
	}
}

ul.slick-dots.slick-dots-bottom li .slick-active button,
ul.slick-dots.slick-dots-bottom li button {
	background-color: rebeccapurple !important;
}
.slick-slider button.slick-arrow {
	color: rebeccapurple;
}
